/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
} */

/* .header {
  height: 72px;
  background: darkmagenta;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-weight: 900;
} */

/* .footer {
  height: 50px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
} */

/* .sidebar {
  width: 240px;
  height: 100%;
  background: royalblue;
  box-sizing: border-box;
  /* flex-basis: 240px; */
  /* padding-left: 0px; */
  /* padding-top: 0px; */
  /* float: left; */
  /* flex-direction: column; */
/* }  */


/* .sidebar ul li {
  list-style-type: none;
} */

/* .sidebar ul li a {
  text-decoration: none;
  color: #eee;
  line-height: 5vw;
  padding-left: 0px;
  /* margin: 0px auto 0px 0px; */
/* }  */

/* .cards {
  display: flex;
  flex-wrap: wrap;
  /* float: right; */
  /* align-content: space-between; */
  /* height: calc(100vh - 72px - 50px); */
  /* height: 100%;  */
  /* overflow-y: auto; */
/* }  */

/* p {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex-basis: 250px;
  padding: 10px;
  margin: 10px;
  /* display: flex; */
  /* width: 300px; */
  /* font-size: small; */
  /* margin-bottom: 20px;
  margin-right: 100px; */
/* }  */


/* .container {
  display: grid;
  height: 100vh;
  grid-template-columns: 240px auto; 
} */




body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex; /* frm solu */
  flex-direction: column; /* from solu */
  background-color: deeppink;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-weight: 900;
}

.footer {
  height: 50px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: auto; /* Push the footer to the bottom */
}

.sidebar {
  width: 165px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0; /* from solution */
}

li {
  margin-bottom: 16px; /* from solution.css */
}

.sidebar ul {
  padding-left: 0; /* Remove default padding for the unordered list */
}

.sidebar ul li {
  list-style-type: none; /*remove the bullet point */
}

.sidebar ul li a {
  text-decoration: underline;
  color: #eee;
  line-height: 2vw; /* Adjust the line-height to push tye text up */
  padding-left: 8px; /* Add left padding for the sidebar links */
  display: block; /* Add display: block to make the links fill the entire width */
  margin: 0px; /* remove any default margin */
}



.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex-grow: 1; /* Add this line to allow the card to take up remaining space */
  margin: 8px; /* Add margin for spacing */
  flex-basis: calc(33.33% - 16px); /* Adjust flex-basis for card width and margin */
  font-size: 12px; /* Add the desired font size for the individual cards */
  padding: 8px; /* Add padding to the content of the card */
  box-sizing: border-box; /* Include padding in the card's dimensions */
  transition: transform 0.1s;
  background-color: white;
}

.card:hover {
  transform: scale(1.2);
  background-color: aqua;
  color: black;
}

/* .card:nth-child(3n + 1) { */
  /* clear: left; Add this line to start a new row every 3 cards */
/* } */

.container {
  display: flex; /* Add this line to create a flex effect on the contents of the container */
  min-height: calc(100vh - 72px - 50px); /* Subtract header and footer heights from viewport height */
  /* display: flex; */
  /* flex-wrap: wrap; */
  flex: 1;
}

.cards {
  display: flex;/* by creating this new div and putting ythose cards inside makes the card wrap ;; tears */
  flex-wrap: wrap; /* from solution */ 
}


.card > p > a {
  text-decoration: none;
  cursor: -moz-zoom-out;
}

/* CSS for the floating button */
.back-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  text-align: center; /*  to center the text horizontally within the button. */
  line-height: 20px; /* to vertically center the text within the button. */
  border: 1px solid rgba(93, 92, 92, 0.538);
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: small;
  background-color: aqua;
  width: 40px;
  height: 25px;
}

/* Add media queries for adjustment abilities */

@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .sidebar {
    width: 100%; /* Set the width to 100% on small screens */
  }

  .card {
    flex-basis: calc(50% - 16px); /* Adjust flex-basis for card width and margin on smaller screens */
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex-basis: 100%; /* Adjust flex-basis for card width and margin on smaller screens */
  }
}

/* @media screen and (max-width: 768px) {
  .sidebar {
    width: 100%; /* Set the width to 100% on small screens */
  /* } */
/* }  */